.contact-container {
    background-color: var(--background-color);
    color: var(--text-color);
}

.contact-container h2 {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.contact-container i {
    color: var(--text-color);
}

.contact-container a {
    color: var(--text-color);
}

/* Underline Effect */
.contact-container h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 2.5rem;
}
.contact-container h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    transition-delay: .3s;
}
.contact-container:hover h2::after {
    transform: scaleX(1);
}

.contact-container p {
    font-size: 1rem;
    margin: 20px 0 10px 0;
}

/* Email Section */
.email-section {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 15px;
    margin-bottom: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 0 5px 1px #2f465a45;
    color: #555;
    background-color: #dde3e9;
}

.email {
    font-weight: bold;
}

.copy-button {
    min-width: 7rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-align: left;
    color: #e7e6e6;
    background-color: #4d7292;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.37);
    transition: background-color 0.3s ease;
}
.copy-button:hover {
    background-color: #43627e;
}

.copy-button i {
    margin-right: 5px;
    color: white;
}

/* Contact Links */
.contact-links {
    display: flex;
    gap: 1.5rem;
    margin: 2.5rem 0 1rem 0;
}

/* Contact Links Text */
.contact-links b {
    font-weight: 300;
}

.contact-links a {
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.contact-links i {
    transition: color 0.3s ease;
}

.contact-links a:hover {
    color: #4d7292;
}

.contact-links a:hover i {
    color: #4d7292;
}
