/* src/styles/HeroImage.css */
.hero-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.p5-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    opacity: .9;
}

.p5-sketch canvas {
    display: block;
    margin: 0;
}

.hover-text {
    position: absolute;
    color: rgb(19, 19, 19);
    font-size: 0.75rem;
    background-color: rgba(106, 140, 145, 0.31);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transform: translate(1%, -10%);
    pointer-events: none; /* Prevent text from interfering with mouse events */
    opacity: 1;
}


/* Show the text on hover */
.p5-sketch:hover .hover-text {
    opacity: 1;
}