/* src/styles/main.css */
:root {
    --background-color: rgb(206, 214, 217);
    --accent-color: #4d72925b;
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9cfe180;
    background-image: url(/my-texture.png);
    opacity: 0.9;
    overflow-x: hidden;
}

h1,
h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

.app {
    padding: 2rem;
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
    text-align: left;
    color: rgb(61, 63, 63);
    background-color: var(--background-color);
    -webkit-box-shadow: 0 0 200 150px #f5f5f5;
    box-shadow: 0 0 250px 190px var(--background-color);
}

/* Mobile Styles */
@media (max-width: 600px) {
    /* Adjust padding and text alignment for mobile */
    .app {
        box-shadow: none;
    }

    body {
        overflow-x: scroll;
    }

    .about, .projects-container, .contact-container {
        transform: translateX(40px);
    }

    .about {
        margin-right: 4rem;
    }

    .about p {
        font-size: 1rem;
        padding-right: 4rem;
    }

    /* Stack project information for better readability */
    .project h3, .project p, .tags {
        padding-right: 4rem;
    }

    .project:hover {
        box-shadow: none;
    }

    .project-preview {
        display: none;
    }

    .contact-links b {
        display: none;
    }

    .contact-links i {
        font-size: 1.6rem;
    }

    /* Reduce font sizes for better readability */
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    p, .tag {
        font-size: 0.75rem;
    }

}