/* src/styles/main.css */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

h1,
h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

.app {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    color: black;
}