/* src/styles/Projects.css */
.project {
    position: relative;
    margin: 1rem 0;
    padding: .75rem 1rem 1.5rem 1.75rem;
    cursor: pointer;
}

.project:hover {
    box-shadow: inset 0px 0px 12px #1c1d1d82;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.tag {
    background-color: #2fb09a;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.project-preview {
    position: fixed;
    width: 160px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}